/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration:none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------------------------------------------*/

$color-dark:#5e5e5e;
$color-light:#d4eafc;

.todo{
	color: $color-light;
    background-color: $color-dark;
	border-radius: 10px;
	font-size:20px;
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid #2b2b2b;
	box-shadow: 0px 3px 5px 5px #c0c0c0;
	a {
		color: $color-light;
	}

	.textInput{
		display: flex;
		margin-top: 50px;
		margin-bottom: 50px;
		justify-content: center;
		input{
			border-radius: 10px;
		}
		.enter{
			line-height: 25px;
			width: 200px;
			margin-right: 10px;
		}
		.btn{
			transition: 0.5s all;
		}
		.btn:hover{
			cursor: pointer;
			color: $color-dark;
			background-color: rgb(250, 214, 121);
		}
	}
	.taskContanier{
		border: white 2px solid;
		border-radius: 10px;
		box-shadow: 0px 2px 2px 3px #c0c0c0;
		background-color: whitesmoke;
		margin:  20px;
		.fliter{
			text-align: center;
			margin-top: 10px;
			margin-bottom: 20px;
			a{
				color: $color-dark;
			}
		}
		.listContanier{
			.list{
				li{
					border: white 2px solid;
					border-radius: 10px;
					background-color: rgb(117, 117, 117);
					margin: 20px 0px;
					justify-content: space-between;
					display: flex;
					line-height: 50px;
					align-items: center;
					padding: 0px 30px;
					div{
						cursor: pointer;
					}
				}
				.done{
					background-color: rgb(250, 214, 121);
					color: $color-dark;
					border: $color-dark 2px solid;
				}
				.editEnter{
					line-height: 30px;
					width: 200px;
					border-radius: 10px;
				}
			}
		}
	}	
}
